<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="drop">
        <div class="content">
            <h2 class="animate_hearBeat">signup form</h2>
            <form action="/register" method="post">
              <input type="email" name="email" placeholder="Email" class="input-box" />
              <input type="text" name="username" placeholder="username" class="input-box" />
              <input type="text" name="fullname" placeholder="full name" class="input-box" />
              <input type="password" name="password" placeholder="Password" class="input-box" />
              <input type="submit"   value="register" class="input-box"></input>
            </form>
        </div>
    </div>
    <a href="#" class='btn'>forgot password</a>
    <!-- <a href="#" class='btn signup'>signup</a> -->

</div>
</body>
</html>